.header {
    &__container {
        max-width: 1440px;
        margin: 0 auto;
        height: 93px;
        background-color: $white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }

    &__logo {
        margin-left: clamp(0.938rem, -0.053rem + 4.23vw, 3.75rem);
        cursor: pointer;
    }

  &__navBar {
        @include headerNavAndUserAndFooter();
    display: flex;
        flex-wrap: wrap;
        gap: 49px;
    
    @media (max-width: 864px){
        display: none;
       }
    }

    &__signUpBtn {
      @include signUpBtn();
      background: none;         
      padding: 0;        
    }

    &__separator {
        width: 3px;            
        height: 28px;          
        background-color: $aquamarine; 
        vertical-align: middle;
    }

    &__signInBtn {
        @include headerNavAndUserAndFooter();
        background: $aquamarine;
        padding: 5px 10px;
        border-radius: 3px;
        cursor: pointer;
    }

    &__burger {
        margin-right: 30px;
        display: none;

        @media (max-width: 864px){
            display: block;
           }
    }

    &__buttons {
        display: flex;
        flex-wrap: nowrap;
        gap: 18px;
        margin-right: clamp(0.938rem, -0.053rem + 4.23vw, 3.75rem);

        @media (max-width: 864px){
            display: none;
           }
    }

    &__autorizedUser {
        display: flex;
        flex-wrap: nowrap;
        gap: 5px;
   &__nameContainer {
    display: flex;
    flex-direction: column;
    align-items: end;
   }
   &__name {
    @include headerNavAndUserAndFooter();
    }
   &__btn {
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    color: $disabledGrey;
    background-color: transparent;
    }
}
}


.headerMenuMob {
    position: absolute;
    top: 80px;
    right: 0;
}