.input {
  height: 43px;
  border-radius: 5px;
  padding-left: 10px;
  border: 1px solid $disabledGrey;
  @include inputText();

  &:focus {
    outline: none;
  }
  &::placeholder {
    @include inputPlaceholder();
  }

  &:focus::placeholder {
    color: transparent;
  }
}

.error {
  color: red;
}
