.signInWindow__container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.customInput {
  width: 379px;
  @media (max-width: 864px) {
    width: clamp(19.063rem, 15.516rem + 15.13vw, 23.688rem);
  }
}

.loginContainer,
.passwordContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.loginTitle,
.passwordTitle {
  @include autorizationTitlesAndCardNews();
}
.signInBtn {
  @include violetBtn();
  width: 379px;

  @media (max-width: 864px) {
    width: clamp(19.063rem, 15.516rem + 15.13vw, 23.688rem);
  }
}

.forgotPasswordLink {
  color: $violet;
  text-decoration: underline;
  font-size: 14px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}

.buttons__container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.otherWaysToSignIn {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    margin-left: 50px;
  }
  &__content {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
  }
  &__link {
    border: 1px solid $violet;
    border-radius: 5px;
    padding: 3px 10px;
    width: 96px;
    height: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__img {
    width: 60px;
  }
  &__title {
    @include autorizationTitlesAndCardNews();

  }
}
