@mixin violetBtn {
  height: 59px;
  background-color: $violet;
  border: none;
  border-radius: 5px;
  padding: 0 20px;
  cursor: pointer;
  @include heroSearchBtn();

  &.disabled {
    background-color: $disabledBtn;
    cursor: not-allowed;
    opacity: 0.5;
  }

  @media (max-width: 375px) {
    padding: 0 2px;
    font-size: 18px;
  }
}

@mixin cardNewsBtn() {
  @include Inter(14px, 500, 19px);
  background-color: $aquamarine;
  transition: all 0.3s ease;
  border: none;
  border-radius: 5px;
  padding: 14px 33px;
  cursor: pointer;
  width: 223px;
  height: 46.5px;

  &:hover {
    background-color: $cyan;
  }

  @media (max-width: 864px) {
    width: 195px;
    height: 40.7px;
    padding: 0 10px;
  }
}

@mixin cardNewsTag() {
  @include Inter(12px, 400, 15px);
  background-color: $orange;
  transition: all 0.3s ease;
  border: none;
  border-radius: 5px;
  padding: 4px 13px;
  cursor: pointer;
  width: fit-content;
  height: 22px;

  @media (max-width: 864px) {
    width: 139px;
    height: 20px;
    padding: 2px 5px;
  }
}
